<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">ID</th>
        </tr>
        </thead>
        <tbody>
        <% for(let item of sales){ %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.age %></td>
            <td><%= item.id %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('parts/scripts') %>

<%- include('parts/html-foot') %>