<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    <div class="col-md-6">
        <form action="" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
                <% if(typeof email !== 'undefined'){ %>
                <small id="emailHelp" class="form-text text-muted"><%= email %></small>
                <% } %>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                <% if(locals.password){ %>
                <small id="passwordHelp" class="form-text text-muted"><%= password %></small>
                <% } %>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="cbox">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


</div>
<%- include('parts/scripts') %>

<%- include('parts/html-foot') %>