<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="info-bar" class="alert alert-success" role="alert" style="display: none">
                A simple success alert—check it out!
            </div>
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">新增資料</h5>

                    <form name="form1" onsubmit="return checkForm()">
                        <div class="form-group">
                            <label for="name">name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>

                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>

                        <div class="form-group">
                            <label for="mobile">mobile</label>
                            <input type="text" class="form-control" id="mobile" name="mobile">
                        </div>
                        <div class="form-group">
                            <label for="birthday">birthday</label>
                            <input type="text" class="form-control" id="birthday" name="birthday">
                        </div>
                        <div class="form-group">
                            <label for="address">address</label>
                            <textarea class="form-control" id="address" name="address" cols="50" rows="3"></textarea>

                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                </div>
            </div>

        </div>
    </div>
</div>
<%- include('../parts/scripts') %>
<script>
    const infoBar = $('#info-bar');

    function checkForm(){
        infoBar.hide();
        // TODO: 檢查資料格式, 是否必填

        $.post('/address-book/add', $(document.form1).serialize(), function(data){
            console.log(data);

            if(data.success){
                infoBar.removeClass('alert-danger').addClass('alert-success').text('新增成功');
            } else {
                infoBar.removeClass('alert-success').addClass('alert-danger').text('新增失敗');
            }
            infoBar.slideDown();

        }, 'json');

        return false;
    }

</script>
<%- include('../parts/html-foot') %>