<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>

<style>
    .table a>.fa-trash-alt {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item <%= page<=1 ? 'disabled' : '' %>">
                        <a class="page-link" href="/address-book/list/<%= page-1 %>">
                            <i class="fas fa-arrow-circle-left"></i>
                        </a>
                    </li>
                    <% for(let i=1; i<=totalPages; i++){ %>
                    <li class="page-item <%= page==i ? 'active' : '' %>">
                        <a class="page-link" href="/address-book/list/<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
                    <li class="page-item <%= page>=totalPages ? 'disabled' : '' %>">
                        <a class="page-link" href="/address-book/list/<%= page+1 %>">
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <% if(isAdmin){ %>
                    <th scope="col"><i class="fas fa-trash-alt"></i></th>
                        <% } %>
                    <th scope="col">sid</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Address</th>
                    <th scope="col"><i class="fas fa-edit"></i></th>
                </tr>
                </thead>
                <tbody>
                <% for(let i of rows){ %>
                    <tr data-sid="<%= i.sid %>">
                        <td>
                            <a class="del-link" href="/address-book/del/<%= i.sid %>">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        <td><%= i.sid %></td>
                        <td><%= i.name %></td>
                        <td><%= i.email %></td>
                        <td><%= i.mobile %></td>
                        <td><%= i.birthday %></td>
                        <td><%= i.address %></td>
                        <td>
                            <a href="/address-book/edit/<%= i.sid %>">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../parts/scripts') %>
<script>
    const delLinks = $('.del-link');

    delLinks.click(function(event){
        const tr = $(event.target.closest('tr'));
        const sid = tr.attr('data-sid');

        if(! confirm(`確定要刪除編號為 ${sid} 的資料?`)){
            event.preventDefault(); // 取消預設的動作
        }
    });
</script>
<%- include('../parts/html-foot') %>