<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="info-bar" class="alert alert-success" role="alert" style="display: none">
                A simple success alert—check it out!
            </div>
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">登入</h5>

                    <form name="form1" onsubmit="return checkForm()">
                        <div class="form-group">
                            <label for="account">account</label>
                            <input type="text" class="form-control" id="account" name="account">
                        </div>

                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('../parts/scripts') %>
<script>
    const infoBar = $('#info-bar');

    function checkForm(){
        infoBar.hide();
        // TODO: 檢查資料格式, 是否必填

        $.post('/address-book/login', $(document.form1).serialize(), function(data){
            console.log(data);

            if(data.success){
                location.href = '/address-book/list'
                //infoBar.removeClass('alert-danger').addClass('alert-success').text('新增成功');
            } else {
                infoBar.removeClass('alert-success').addClass('alert-danger').text('帳號或密碼錯誤');
            }
            infoBar.slideDown();

        }, 'json');

        return false;
    }

</script>
<%- include('../parts/html-foot') %>